# Project -1 "Regular Expressions"

Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [1]:
import re
stext= 'Python Exercises, PHP exercises.'
print(re.sub("[ ,.]",".",stext))

Python.Exercises..PHP.exercises.

Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [5]:
import pandas as pd
dict={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame(dict)
df=df['SUMMARY'].str.replace('[^a-zA-Z\s]', '', regex=True)
print(df)

0      hello world
1       XXXXX test
2    four five six
Name: SUMMARY, dtype: object

 Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [1]:
import re

def find_long_words(string):
  pattern = re.compile(r'\b\w{4,}\b')
  long_words = pattern.findall(string)
  return long_words
string = "Dog is barking in the street."
result = find_long_words(string)
print(result)

['barking', 'street']

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [2]:
import re

def find_words(string):
  pattern = re.compile(r'\b\w{3,5}\b')
  matches = pattern.findall(string)
  return matches
string = "Two objects,two things."
result = find_words(string)
print(result)

['Two', 'two']

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

In [1]:
import re
data =["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
def neat_text(word):
    result_text=[]
    for url in word:
        pattern=re.compile("[^\w\s@.]")
        subs=re.sub(pattern,"",url)
        result_text.append(subs)
    return result_text
neat_text(data)

['example .com',
 'hr@fliprobo .com',
 'github .com',
 'Hello Data Science World',
 'Data Scientist']

Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [3]:
import re

sample_text="example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"
modified_text=[]

for line in sample_text:
    pattern=re.compile("\([^()]*\)")
    sub=re.sub(pattern,"",line)
    modified_text.append(sub)
    
with open("output.txt","w") as file:
    for line in modified_text:
        file.write(line + "\n")

Question 7-Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output:[‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [11]:
sample_text= "ImportanceOfRegularExpressionsInPython"
import re
def split_uppcase(text):
    pattern=(r"(?<=[a-z])(?=[A-Z])")
    split=re.split(pattern,text)
    return split
split_uppcase(sample_text)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [14]:
sample_text ="RegularExpression1IsAn2ImportantTopic3InPython"
import re
def word_numb_space(line):
    pattern=re.compile(r"(?<=[A-Za-z])(?=[0-9])")
    sub=re.sub(pattern,r" ", line)
    return sub

word_numb_space(sample_text)

'RegularExpression 1IsAn 2ImportantTopic 3InPython'

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [15]:
def create_space(word):
    pattern = r"([A-Z][a-z0-9]*|\d+)"
    result=re.sub(pattern,r" \1", word)
    return result

in_put="RegularExpression1IsAn2ImportantTopic3InPython"
create_space(in_put)

' Regular Expression1 Is An2 Important Topic3 In Python'

Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [22]:
import pandas as pd
url = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df = pd.read_csv(url)
df["first_five_letters"] = df["Country"].str[:6]
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

 Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [24]:
import re
string= "The_Ram_mandir is located @ _Ayodhya, the date of pran prastisha is 22_."

def match_character(text):
    pattern=r"\w+"
    match=re.match(pattern,string)
    return match

match_character(string)

Question 12- Write a Python program where a string will start with a specific number

In [25]:
import re
string ="The 1vaccine derive for 1family is always 1to the 1free 1dose "

def numb_string(text):
    pattern="1[\w]+"
    result=re.findall(pattern,string)
    return result

numb_string(string)

['1vaccine', '1family', '1to', '1free', '1dose']

Question 13- Write a Python program to remove leading zeros from an IP address

In [26]:
import re

def rem_lead_zero(ip):
    modified_ip=re.sub(r"\b0*(\d+)",r"\1",ip)
    return modified_ip

input_ip="216.08.094.196"
rem_lead_zero(input_ip)

'216.8.94.196'

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947
Note- Store given sample text in the text file and then extract the date string asked format.

In [27]:
sample="On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’."

result=re.findall("A[\w\s]+.[\d+\b]",sample)
print(result)

main_result=str(result)

with open("date.txt","w") as file:
    file.write(main_result)

['August 15th 1947']

Question 15- Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [29]:
text="The quick brown fox jumps over the lazy dog."
import re
comp_pat=re.compile("fox|dog|horse")
for match in comp_pat.finditer(text):
    print(match)
    print(match.group())

<re.Match object; span=(16, 19), match='fox'>
fox
<re.Match object; span=(40, 43), match='dog'>
dog

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [30]:
import re
text="The quick brown fox jumps over the lazy dog."
compile_pattern= re.compile("fox")
search= re.search(compile_pattern,text)
print(search)

<re.Match object; span=(16, 19), match='fox'>

Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'

In [32]:
def find_substrings(text, pattern):
    """
    Finds all occurrences of a pattern within a given text.

    Args:
        text (str): The input text.
        pattern (str): The pattern to search for.

    Returns:
        list: A list of indices where the pattern occurs.
    """
    indices = []
    start = 0
    while True:
        index = text.find(pattern, start)
        if index == -1:
            break
        indices.append(index)
        start = index + len(pattern)
    return indices

sample_text = 'Python exercises, PHP exercises, C# exercises'
pattern_to_find = 'exercises'

occurrences = find_substrings(sample_text, pattern_to_find)

if occurrences:
    print(f"Occurrences of '{pattern_to_find}': {occurrences}")
else:
    print(f"No occurrences of '{pattern_to_find}' found in the sample text.")

Occurrences of 'exercises': [7, 22, 36]

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [33]:
ts="Never say good bye Superman"
pattern=re.compile("Super(hero)*man")
search=pattern.search(ts)
print(search)
print(search.group())

ts="Never say good bye Superheroman"
pattern=re.compile("Super(hero)*man")
search=pattern.search(ts)
print(search)
print(search.group())

<re.Match object; span=(19, 27), match='Superman'>
Superman
<re.Match object; span=(19, 31), match='Superheroman'>
Superheroman

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format

In [34]:
import re


def change_date_format(dt):
    mod_date=re.sub("(\d{4})-(\d{1,2})-(\d{1,2})",r"\3-\2-\1",dt)
    return mod_date

dt1="2024-02-03"

print("Year month day format",dt1)
print("The Req format",change_date_format(dt1))

Year month day format 2024-02-03
The Req format 03-02-2024

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

In [35]:
def decimal_value(line):
    comp_pattern=re.compile(r"\b\d+\.\d{1,2}\b")
    result=comp_pattern.findall(line)
    return result

text="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
print("The Expected output:",decimal_value(text))

The Expected output: ['01.12', '145.8', '3.01', '27.25', '0.25']

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [36]:
import re

def sep_print_position(line):
    result=re.finditer(r"\d+",line)
    for match in result:
        print(match)
        print(match.group())
    
    
    
text="Yashavi jaiswal has scored 200 in 1 match of his test debut."
sep_print_position(text)

<re.Match object; span=(27, 30), match='200'>
200
<re.Match object; span=(34, 35), match='1'>
1

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [37]:
def max_numeric_value(val):
    result=re.findall(r"\d+",val)
    return max(result)

string="947, 896, 926, 524, 734, 950, 642"
print("Maximun number:",max_numeric_value(string))

Maximun number: 950

Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [38]:
def insert_space(text):
    pattern=r"([A-Z][a-z]*)"
    result=re.sub(pattern, r"\1 ",text)
    return result

string= "RegularExpressionIsAnImportantTopicInPython"
insert_space(string)

'Regular Expression Is An Important Topic In Python '

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [39]:
import re 

def case_letter(val):
    pattern="([A-Z][a-z]+)"
    search=re.findall(pattern,val)
    print(search)

input_text="Python Regex to Find Sequence of one Upper CASE Letter Followed BY Lower Case LETters"
case_letter(input_text)

['Python', 'Regex', 'Find', 'Sequence', 'Upper', 'Letter', 'Followed', 'Lower', 'Case', 'Tters']

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"
Expected Output: Hello hello world

In [40]:
def rem_dup_words(text):
    pattern=r"\b(\w+)(?:\W+\1\b)+"
    sub=re.sub(pattern,r"\1",text)
    print(sub)
    
    
    
string="Hello hello world world"
rem_dup_words(string)

Hello hello world

Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [41]:
def alpha_numeric(text):
    regex=r"\w$"
    if re.search(regex,text):
        print("Accept")
    else:
        print("Decline")
        
        
        
string1="Sach@1286"
string2="Sach#"
string3="Sach_"
        
alpha_numeric(string1)
alpha_numeric(string2)
alpha_numeric(string3)

Accept
Decline
Accept

Question 27-Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [42]:
def extract_hashtag(text):
    regex=r"\#[\w]+"
    find=re.findall(regex,text)
    print(find)
    
string="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
extract_hashtag(string)

['#Doltiwal', '#xyzabc', '#Demonetization']

Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [49]:
def clean_text(val):
    pattern=r"<U\+[\w]+>”
  sub=re.sub(pattern, "",val)
    print(sub)
    
    sample_text="@Jags123456 Bharat band on28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
clean_text(sample_text)

SyntaxError: unterminated string literal (detected at line 2) (3560585227.py, line 2)

Question 29- Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.

In [58]:
sample_text="Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."

with open("sample_text.txt","w") as file:
    file.write(sample_text)
    
   def extract_dates(file_path):
    with open(file_path,"r") as file:
        text=file.read()
        regex=re.compile(r"(\d{2})-(\d{2})-(\d{4})")
        dates= regex.findall(text)
        return dates
    ed=extract_dates("sample_text.txt")
    print("Extracted Dates:",ed)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

In [59]:
import re
def trim_words(line):
    pattern=re.compile(r"\b\w{2,4}\b")
    result=pattern.sub("", line)
    print(result)

input_string="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
trim_words(input_string)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.